<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="YOUR.PACKAGE.NAME">
	<uses-permission android:name="android.permission.INTERNET" />

	<!-- optional but highly recommended 	-->
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<!-- BEGIN Localytics Push Messaging permissions -->
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<permission android:name="YOUR.PACKAGE.NAME.permission.C2D_MESSAGE"
		android:protectionLevel="signature" />
	<uses-permission android:name="YOUR.PACKAGE.NAME.permission.C2D_MESSAGE" />
	<!-- END Localytics Push Messaging permissions -->

	<application android:name="com.localytics.android.unity.LocalyticsApplication" android:icon="@drawable/app_icon" android:label="@string/app_name">
		<meta-data android:name="LOCALYTICS_APP_KEY" android:value="YOUR_APP_KEY"/>
		<meta-data android:name="LOCALYTICS_PUSH_PROJECT_ID" android:value="\ YOUR_PUSH_PROJECT_ID"/> <!-- The space before the number is required -->
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

		<activity android:name="com.localytics.android.unity.LocalyticsUnityPlayerActivity" android:label="@string/app_name" android:launchMode="singleTask" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<!-- Required for test mode and rapid push verification -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data
					android:host="testMode"
					android:scheme="ampYOUR_APP_KEY"/>
			</intent-filter>

			<meta-data android:name="unityplayer.UnityActivity" android:value="true" />
			<meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="false" />
		</activity>

		<!-- BEGIN Localytics Push Messaging receivers, services, and activities -->
		<receiver
			android:name="com.google.android.gms.gcm.GcmReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="YOUR.PACKAGE.NAME" />
			</intent-filter>
		</receiver>

		<service
			android:name="com.localytics.android.GcmListenerService"
			android:exported="false" >
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
			</intent-filter>
		</service>

		<service
			android:name="com.localytics.android.InstanceIDListenerService"
			android:exported="false" >
			<intent-filter>
				<action android:name="com.google.android.gms.iid.InstanceID" />
			</intent-filter>
		</service>

		<activity android:name="com.localytics.android.PushTrackingActivity"/>
		<!-- END Localytics Push Messaging receivers, services, and activities -->

		<!-- Localytics Acquisition Tracking -->
		<receiver android:name="com.localytics.android.ReferralReceiver" android:exported="true">
		  	<intent-filter>
		    	<action android:name="com.android.vending.INSTALL_REFERRER" />
		  	</intent-filter>
		</receiver>

	</application>
</manifest>
